<nav class="navbar navbar-expand-lg" style="background-color: #0e1111; height:60px">
    <a class="navbar-brand" href="#">EduFlix</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Movies</a>
            </li>
        </ul>
    </div>
</nav>

<section class="full-width-header-home">
    <div class="middle-text">
        <div>
            <button class='border-button'>
                <a href="#">START LEARNING </a>
            </button>

        </div>
    </div>
</section>

<div class="about-box">
    <div class="row">
        <h2>About us</h2>
        <div class="col-xs-6 col-md-6 about-text">
            <p>
                EduFlix is more than just subtitled videos and interactive flashcards - It is an entire language learning system. With EduFlix,
                you learn real languages which is the same way that real people speak them. 
                <br><br>
                EduFlix has a wide variety of videos, such as movie trailers, funny commercials and web series.
            </p>
        </div>
    </div>
</div>

<footer>
    <div class="container-fluid py-3">
        <div class="footer-box">
            <div class="row">
                <div class="col-md-4 footer-ele-box">
                    <h4>EDUFLIX</h4>
                    <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections
                        1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact
                        original form, accompanied by English versions from the 1914 translation by H. Rackham.
                    </p>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-3 footer-ele-box">
                    <h4>SERVICES</h4>
                    <a href="#">Movies</a>
                    <br>
                    <br>
                    <a href="#">Series</a>
                </div>
                <div class="col-md-3 footer-ele-box">
                    <h4>CONTACT US</h4>
                    <p>
                        <i class="fas fa-map-marker-alt sna"></i>221 Burwood Hwy, Burwood VIC 3125, Melbourne, Australia</p>
                    <p>
                        <i class="far fa-envelope"></i> eduflix@deakin.edu.au</p>
                    <p>
                        <i class="fas fa-phone-square"></i> +64 480986754</p>
                </div>
            </div>
        </div>
        <br>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <p class="small">
                    <br>©2017 Brand, Inc.
                </p>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-2 text-right align-self-end">
                <p class="small">
                    <span style="margin-right: 30px">Privacy Policy</span>Terms of Use</p>
            </div>
        </div>
    </div>
</footer>